// Colors
$blue: #0A2463;
$light-blue: #3E92CC;
$off-white: #EFEFEF;
$black: #1A1423;
$red: #B80C09;

// Classes
.logged-out-view {
}

.login-view-main-content {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

// Animation
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
