// Colors
$blue: #0A2463;
$light-blue: #3E92CC;
$off-white: #EFEFEF;
$black: #1A1423;
$red: #B80C09;

// Classes
.logged-out-view {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-view-main-content {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.login-input {
  font-size: 20pt;
  font-weight: 100;
}

.password-input {
  margin-top: 12px;
}

.form-input {
}

.login-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: $light-blue;
  border-radius: 4px;

  //text
  color: white;
}

.login-button:hover {
}

// Animation
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
