// Colors
$blue: #0A2463;
$light-blue: #3E92CC;
$off-white: #EFEFEF;
$black: #1A1423;
$red: #B80C09;

// Classes
input:focus {
  outline: none;
}

.login-form-container {
  display: flex;
}

.login-form-prompt {
  display: flex;
  align-items: center;
}

.login-form-content {
  margin-left: 20px;
  padding-left: 20px;
  border-left: solid 1px $blue;
}
